<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
      <h1>Awesome University Registrar App</h1>
      <h2>Student: {{ student.getName }}</h2>
      <h3>Are you sure you want to delete this student?</h3>

      <form action='/student/{{ student.getId }}/{{ course.getId }}' method='post'>
        <input name="_method" type="hidden" value="delete">
        <button type='submit' class='btn btn-success'>Delete Student</button>
        <a href="/student/{{ student.getId }}" class="btn btn-danger" role="button">Cancel</a>
      </form>
      <br>
      <br>
      <br>
      <a href="/"><button type="submit" class="btn btn-warning" name="button">Home</button></a>

    </div>
  </body>
</html>
